* {
    box-sizing: border-box;
    transition: 0.1s all ease;
}

/* BURGER */

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
    z-index: 999;
    display: none
}

ul.burger {
    height: 100vh;
    right:0;
    width: 50%;
    position: fixed;
    background:#111111;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 50;
}

li.burger a{
    color:white;
    text-decoration: none;
    padding: 4rem;
}

div.burger {
    position: absolute;
    right:10px;
    top:10px;
        z-index: 999;
}

body,html {
    position: relative;
    height: 100%;
}

/* SECTIONS */
.mainPlans {
    background:#f3f3f3;
}

/* BUTTON STYLES */

.mainButton{
    color:white;
    background:#f71a38;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.6rem 1.3rem;
    margin: 1rem 0rem 0rem 0rem;
    border:0;
    border-radius: 1rem 0rem 1rem 0rem;
    align-self: flex-start;
}

.mainButton:hover {
    background:#f64a62;
}

.nav {
    color:red;
}

.navContainerFlex {
    width: 80%;
    margin: 0 auto;
        left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 8vh;
    position:fixed;
}

nav {
    display: flex;
    margin: 2rem auto 0rem auto;
    width: 40%;
    justify-content: space-evenly;
    max-height: 9vh;
}

ul.mainNav {
    list-style: none;
    display: flex;
    width: 20%;
    justify-content: space-around
}

li.mainNav a{
    color: #f3f3f3;
    text-decoration: none;
}


.logo {
    content: url(../images/logo.png);
    height: 80px;
}

/* COLORS */

.red {
    color:#f71a38;
}

.lightgrey {
    color:#f6f6f6; 
}

.white {
    color:#f3f3f3;
}

.blue {
    color:#0E1A55;
}

.bold {
    font-weight: 600;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.header-wimage {
    background:url(../images/headerimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.mainContainerFlex {
    display: flex;
    margin: 0 auto;
    width: 75%;
}

.sectionSpacing {
    padding: 3rem 0em;
}

.mainPlans {
    background: #f3f3f3;
}



.headerText {
    flex-direction: column;
    justify-content: center;
}
.planSelector {
    justify-content: space-evenly;
}
.planSelector-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width:25%;
    height:37rem;
    background:#f6f6f6;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    border-radius: 3em 0em 3em 0em;
}

.planSelector-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.planSelector-price {
    background:#f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-bottom: 1.5em;
}

.planSelector-intro {
    padding: 0em 2em;
    text-align: center;
    margin-bottom: 1em;
}

.planSelector-checklist {
    padding: 0em 3em;
    height: 70%;
}

.planSelector-button {
    height: 10%;
    display: flex;
    align-content: center;
    justify-content: center;
}

.topPlan {
    outline: 12px solid gold;
    border-radius: 0em;
}

.topPlan-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    width:25%;
    height:1.8em;
    background:gold;
    border-radius: 0em 0em 1.8em 0em
}

.topPlan-box p {
    color:white;
    font-weight: 600;
    text-transform: uppercase;
}

.planSelector-button>a {
    margin:0;
}

h4.plan {
    font-weight: 400;
}

h3.plan {
    font-weight: 700;
    font-size: 4rem;
    color:#ff3333;
}

.headerText h4 {
    max-width: 60%;
}


.container {
  position: relative;
  background: #2c3e50;
  height: 50vh;
}

/* CHECKLIST */

ul.checklist {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.test {
    display: block;
    overflow: hidden;
}

/* FONT AWESOME */

.check::before {
    color:green;
    display: inline-block;
    width:1.4em;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.check::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
  }

.nocheck::before {
    color:red;
    width:1.4em;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.nocheck::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00d";
  }


@media screen and (max-width:1900px) {
    .mainContainerFlex {
        width:90%;
    }
    .topPlan-box {
    width:28%;
    height:1.8em;
    background:gold;
    border-radius: 0em 0em 1.8em 0em
}

.topPlan-box p {
    font-size: 0.9rem;
}
}

@media screen and (max-width:1300px) {
    .mainContainerFlex {
        width:90%;
    }
    
    
    
    .planSelector-box {
        width:30%;
    }
    
    }
    .topPlan-box {
    width:28%;
    height:1.8em;
    background:gold;
    border-radius: 0em 0em 1.8em 0em
}

.topPlan-box p {
    font-size: 0.7rem;
}
    
}

@media screen and (max-width:1200px) {
    html {
        font-size: 85%;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 70%;
    }
    
    .logo {
        height: 60px;
        margin-top: 2rem;
    }
    
    .planSelector-button .mainButton {
        width:80%;
        text-align: center;
    }
    
    .topPlan-box p {
    font-size: 1rem;
}
    
    .mainContainerFlex {
    display: flex;
    margin: 0 auto;
    width: 90%;
}

    
    .planSelector-box {
        margin: 2rem 0rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width:100%;
    height:37rem;
    background:#f6f6f6;
    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
    border-radius: 3em 0em 3em 0em;
}
    
    .planSelector {
        flex-direction: column;
    justify-content: space-between;
}    
    .topPlan {
    outline: 7px solid gold;
    border-radius: 0em;
}

.topPlan-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    width:30%;
    height:1.8em;
    background:gold;
    border-radius: 0em 0em 1.8em 0em
}

    .header-wimage {
    background:url(../images/headerimage.png);
    background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
    z-index: -1;
}
    ul.mainNav {
        display: none;
    }
    
    ul.burger {
        display: flex;
        transform: translateX(100%)
    }
    
    .burger div {
        display: block
    }
    
    .nav-active {
        transform: translateX(0%) !important;
    }
    
}