h2 {
    line-height: 1.4em !important
}

body {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    position: relative;
}

.downloadCV {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.4em 1.4em;
    border-radius: 40px;
    border: 1px solid #FD6585;
    color: #FD6585;
    margin-top: 20px;
}

.downloadCV:hover {
    background-color: #FD6585;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

/*
FONTS
*/

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: white;
}

.sectionHeader h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4em;
    color: #fff;
    margin: 30px 0px;
    text-align: center;
}

.sectionText p {
    color: #FD6585;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.languagesSubText p {
    color: #FD6585;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    margin-top: 50px;
    line-height: 1.4em;
}

span.mainColor {
    color: #FD6585;
}

span.boldMainColor {
    color: #FD6585;
    font-weight: 500;
}



.mainContainerFlex {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}

.container {
    max-width: 50%;
    margin: 0 auto;
}

.headerMainText {
    max-width: 60%;
    margin: auto;
}

.headerMainText h1 {
    font-size: 5em;
    color: white;
}




ul.nav {
    list-style: none;
    display: flex;
    width: 20%;
    justify-content: space-around
}

li.nav {
}

li.nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1.3em
}

.logo {
    content: url(../images/logo.png);
    height: 80px;
}



.header {
    padding: 30em 0em;
    width: 100%;
}

#icons {
    margin: auto;
    text-align: center;
}

#icons a {
    margin-right: 14px;
}

.lang {
    position: relative;
    display: inline-block;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: white;
    margin-top: 10px;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

a.html {
    position: relative;
}

a.html:hover .tooltiptext {
    visibility: visible;
}


section {
    margin-bottom: 200px;
}

.project {
    margin: auto;
    text-align: center;
}

.projectHeader {
    text-align: center;
}

.projectImage {
    max-width: 50%;
    text-align: center;
    margin: auto;
}

.projectImage img {
    max-width: 100%;
}

.projectHeader h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3em;
    color: #fff;
    margin: 30px 0px;
    text-align: center;
}

.projectText {
    max-width: 50%;
    line-height: 1.5em;
    color: white;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    margin: 20px auto 10px auto;
}

.projectButtons {
    text-align: left;
    max-width: 50%;
    margin: auto;
}

span.skill {
    border-radius: 4px;
    border: 2px solid #92eac0;
    padding: 8px;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Camphor, Open Sans, Segoe UI, sans-serif;
    font-size: .85em;
    color: white;
}

section#contact {
    background: white;
    height: 500px;
}

.flexContainer {
    display: flex;
}

.contactSection1 {
    width: 50%;
}

.contactSection2 {
    width: 50vw;
}

.googlemap {
    position: relative;
    padding-bottom: 75%;
    /* 4:3 ratio*/
    height: 0;
    overflow: hidden;
}

.googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.map-frame {
    width: 100%;
    height: 100%;
    position: relative;
}

.contactInfo {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactInfo h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

    font-size: 2em;
    color: #000;
    margin-bottom: 20px;
}

.contactInfo p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.6em;
    color: #000;
    margin-bottom: 50px;
}

a:link {
    text-decoration: none;
    color: #FD6585;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.6em;
}

p.contactinfo {
    margin-top: 40px;
}


.burger div {
    width: 25px;
    height: 3px;
    background-color:white;
    margin: 3px;
}

.burger {
    display: none;
}

    .nav-active {
        transform: translateX(0%) !important;
        opacity: 1;
    }

@media screen and (max-width:768px) {
    
}

@media screen and (max-width:768px) {
    
    body {
        overflow-x: hidden;
        position: relative;
    }
    
    ul.nav {
        position: fixed;
        z-index: 100;
        right: 0px;
        height: 92vh;
        top: 8vh;
            background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: 0.3s all ease;
    }
    

    
    
    * {
        line-height: 1.4em;
    }
    
    .burger {
        display: block;
        position: fixed;
        right: 10%
    }
    
    .burger:hover {
        cursor: pointer;
    }
    
    ul.nav {
    list-style: none;
    display: flex;
    justify-content: space-around
}
    
    p {
        font-size: 3em !important;
    }
    .headerMainText {
        margin: auto;
        max-width: 100%;
    }
    
    h2 {
        font-size: 3.5em;
    }

    .headerMainText h1 {
        font-size: 6em;
        color: white;
    }

    .container {
        max-width: 80%
    }

    .projectImage {
        max-width: 90%;
        text-align: center;
        margin: auto;
    }

    .projectImage img {
        max-width: 100%;
        margin: 2em 0em;
    }

    .projectText {
        max-width: 100%;
    }

    .projectButtons {
        max-width: none;
        text-align: center;
    }
    
    .flexContainer {
    display: inline;
}
    
    .contactSection1 {
        width: 100%;
    }
    
    .contactSection2 {
        width: 100%;
    }
    
    .downloadCV {
        font-size: 2.5em;
        padding: 0.5em 2em
    }
    
    .sectionHeader h3 {
        font-size: 5em;
    }
    
    .sectionText p {
        font-size: 2.5em;
        margin: 1em 0em
    }
    
    #icons img {
        height:120px;
        width: 120px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
    span.skill {
        padding: 1em;
        border-radius: 20px;
        font-size: 2em;
        margin: 1em 0px;
    }
    
    .contactInfo {
        padding: 3em 0em;
    }
    
    .contactInfo h4 {
        font-size: 4em;
    }
    
    .contactInfo p {
        font-size: 3em
    }
    
    .contactInfo div {
        max-height: 100%;
    }
    
    a:link {
        font-size: 3em
    }
    
    section#contact {
        height:auto;
    }
    
    .projectText p {
        margin: 2em 0px;
        line-height: 1.6em;
        font-size: 1.5em !important
    }
}
